{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="bg-light p-5 rounded">
        <h1>Обо мне</h1>
        <p class="lead">Всем привет! Меня зовут Михаил. Прежде всего, я хочу сказать что мы рады видеть вас на нашем
            сайте.

            Этот блог полностью посвящён кулинарии. Как и большинству мужчин, мне нравится вкусная, а также
            разнообразная пища. Мне самому очень нравится готовить, конечно когда нахожу время. Но в основном, конечно
            же, готовит моя возлюбленная жена. За годы своей жизни я много путешествовал и насобирал в свой арсенал
            много различных рецептов, разных народов. В свою очередь, как вы понимаете, будучи поваром, моя супруга
            вплотную знакома со всем, что касается кулинарии.
            Именно этим мы и хотим делиться с каждым, кто посетит мой сайт.
            Также я стараться писать очень полезные и интересные статьи, касающиеся различных сфер жизни.</p>
        <a class="btn btn-lg btn-primary" href="recipes" role="button">Перейти к рецетпам</a>
    </div>










{% endblock %}
